body {
    background-image: url(../img/leaves.png);
    background-position: right;
    background-repeat: repeat;
}

main {
}

.heading {
    text-align: center;
    display: block;
    padding-bottom: 2.5%;
}

.calendar {
/*    margin-left: 10%;*/
    margin: 0 auto;
    width: 80%;
    height: 70%;
    border: 1px black solid;
    color: black;
    font-weight: bold;
}

.highlight {
/* lightgoldenrodyellow */
    background-color: rgba(250, 250, 210, 0.65);
}
