<!DOCTYPE html5>
<html>
    <head>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/calendar.css">
    </head>
    
    <body>
        <nav></nav>
        
        <main>
            <h1 id="heading" class="heading">January 2019</h1>
            
            <table id="calendar" class="table table-bordered calendar">
            </table>
            
            <div id="test">
            </div>
            
        </main>
        
        <script src="js/calendar.js" type="text/javascript"></script>
    </body>
</html>